* {
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

/* footer related */
footer {
  background-color: #0A0826;
}

.footer-container {
  text-align: center;
  padding: 50px 589px;
}

.footer-text {
  margin-bottom: 15px;
  color: white;
}

.foot-h {
  font-size: 24px;
  font-weight: 700;
}

.foot-p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 600;
}

.logo-size {
  margin-right: 16px;
  width: 32px;
  height: 32px;
  filter: invert(100%);
}